/* 1er header and content */

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.container1 {
    margin-bottom: 4rem;
    padding: 25px;
    background-color: #1F2937;
}
